<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salman || Home</title>
    <link rel="stylesheet" href="./output.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <nav class="h-16 w-full bg-[#F7FBFF] flex items-center justify-between p-4">
      <a href="./" class="font-extrabold text-3xl">
        <div class="flex gap-2 items-center">
          <img
            src="./icons/icon.jpg"
            alt=""
            class="border-2 border-indigo-400 rounded-full h-14 w-14"
          />
          Salman
        </div>
      </a>
      <div
        class="flex gap-4 font-semibold md:gap-6 lg:gap-8 xl:gap-12 items-center"
      >
        <a href="./" class="text-indigo-500 hover:text-indigo-600">Home</a>
        <a href="/about" class="hover:text-indigo-600">About</a>
        <a
          href="/contact"
          class="bg-indigo-400 p-2 rounded text-white font-semibold"
          >Contact</a
        >
      </div>
    </nav>
    <!-- ===== End of navbar ===== -->
    <div
      title="welcome user"
      class="relative w-full bg-[#F7FBFF] welcome flex items-center justify-center pb-[4rem] sm:pb-[6rem] md:pb-[8rem] lg:pb-[10rem] xl:pb-[12rem]"
    >
      <div
        class="md:w-4/5 mx-auto grid grid-cols-2 items-center md:justify-between justify-center px-6 pt-32 gap-10"
      >
        <div
          class="col-span-2 md:col-span-1 flex flex-col gap-2 items-center md:items-start"
        >
          <p class="font-bold text-4xl">
            Hi 👋, I am salman & <br />
            welcome to my site
          </p>
          <p>Read more about me 👇</p>
          <a
            href="/about"
            class="bg-indigo-400 hover:bg-indigo-600 duration-200 text-white font-semibold rounded px-5 self-center md:self-start py-2"
            >About me</a
          >
        </div>
        <div class="col-span-2 md:col-span-1 flex items-center justify-center">
          <img
            src="./img/welcome.png"
            alt=""
            class="aspect-square object-cover max-h-[27rem] h-full rounded"
          />
        </div>
      </div>
      <div class="svg"></div>
    </div>
    <!-- ===== End of welcome section =====  -->
    <div title="about myself in short" class="relative w-full px-2 pb-4 mb-2">
      <div class="w-full md:w-5/6 mx-auto flex items-center gap-3 flex-col">
        <p class="text-2xl font-bold capitalize text-black">
          About me in short
        </p>
        <div
          class="grid grid-cols-2 md:grid-cols-4 gap-5 w-full items-center justify-center"
        >
          <div
            class="flex flex-col items-center justify-center rounded h-24 p-2 font-semibold bg-white border shadow"
          >
            <p class="font-bold">Location</p>
            <p class="text-center text-sm capitalize">Dhaka, Bangladesh</p>
          </div>
          <div
            class="flex flex-col items-center justify-center rounded h-24 p-2 font-semibold bg-white border shadow"
          >
            <p class="font-bold">Education</p>
            <p class="text-center text-sm capitalize">
              Bachelors in CSE (Ongoing)
            </p>
          </div>
          <div
            class="flex flex-col items-center justify-center rounded h-24 p-2 font-semibold bg-white border shadow"
          >
            <p class="font-bold">Current Status</p>
            <p class="text-center text-sm capitalize">Learning new things</p>
          </div>
          <div
            class="flex flex-col items-center justify-center rounded h-24 p-2 font-semibold bg-white border shadow"
          >
            <p class="font-bold">Mail Me</p>
            <p class="text-center text-sm capitalize">
              web.salman.pro@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ===== End of about in short ===== -->
    <div title="about myself in short" class="w-full px-2 py-4 mb-2">
      <div class="w-full md:w-5/6 mx-auto flex items-center gap-3 flex-col">
        <p class="text-2xl font-bold capitalize text-black">My Skills</p>
        <!-- //all skils -->
        <div
          class="flex gap-1 w-full items-center flex-wrap flex-col justify-center"
        >
          <div
            class="grid grid-cols-1 md:grid-cols-2 gap-5 bg-gray-100 items-center w-full py-5 corny"
          >
            <p class="text-xl font-semibold text-center">Proficient</p>
            <div
              class="flex gap-4 flex-wrap items-center justify-center md:justify-start"
            >
              <div class="flex flex-col items-center">
                <img
                  src="./icons/html.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>html</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/css.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>css</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/bootstrap.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Bootstrap</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/tailwind.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Tailwind</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/js.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>javascript</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/react.png"
                  alt=""
                  class="h-12 w-14 rounded bg-white object-cover"
                />
                <p>React js</p>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-1 md:grid-cols-2 gap-5 bg-gray-100 items-center w-full py-5"
          >
            <p class="text-xl font-semibold text-center">Comfortable</p>
            <div
              class="flex gap-4 flex-wrap items-center justify-center md:justify-start"
            >
              <div class="flex flex-col items-center">
                <img
                  src="./icons/nodejs.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Node js</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/express.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Express</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/mongo.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>MongoDB</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/redux.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Redux</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/git.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Github</p>
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-1 md:grid-cols-2 gap-5 bg-gray-100 items-center w-full py-5 corny2"
          >
            <p class="text-xl font-semibold text-center">Familiar</p>
            <div
              class="flex gap-4 flex-wrap items-center justify-center md:justify-start"
            >
              <div class="flex flex-col items-center">
                <img
                  src="./icons/vercel.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Vercel</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/firebase.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Firebase</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/netlify.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Netlify</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/figma.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Figma</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/next.webp"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Next js</p>
              </div>
              <div class="flex flex-col items-center">
                <img
                  src="./icons/mailgun.png"
                  alt=""
                  class="h-12 w-12 rounded bg-white"
                />
                <p>Mailgun</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===== End of skills sectionn ===== -->
    <div title="My projects" class="w-full px-2 py-4 mb-2">
      <p class="text-2xl font-bold text-center pb-6 md:pb-16">My projects</p>
      <div
        class="w-full md:w-5/6 mx-auto flex items-center gap-12 md:gap-36 flex-col"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
          <div class="flex items-start justify-center flex-col gap-3 px-3">
            <h3 class="text-xl md:text-2xl font-semibold py-3">
              A blog site of toys : Toy Stop
            </h3>

            <p>
              The project is a demo toy shop where people can see details about
              various toys. It's similar to a multi-user blogging site, is
              highly responsive and proficient, has Crossbrowser support <br />
              <span class="font-semibold">Technology:</span> React, Tailwind,
              React, Firebase, Express js, MongoDB, Vercel
            </p>
            <div class="flex gap-3 flex-wrap">
              <a
                href="/contact"
                class="bg-indigo-400 p-2 rounded text-white font-semibold"
                >Live Site</a
              >
              <a
                href="/contact"
                class="bg-indigo-400 p-2 rounded text-white font-semibold"
                >Github Frontend</a
              >
              <a
                href="/contact"
                class="bg-indigo-400 p-2 rounded text-white font-semibold"
                >Github backend</a
              >
            </div>
          </div>
          <div
            class="relative h-56 sm:h-60 lg:h-72 w-full flex items-center justify-center"
          >
            <img
              src="./img/project.jpeg"
              alt=""
              class="w-full md:w-full bg-gray-200 rounded absolute h-full object-cover object-left-top hover:object-left-bottom duration-1000"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
          <div
            class="md:col-start-2 flex items-start justify-center flex-col gap-3 px-3"
          >
            <h3 class="text-xl md:text-2xl font-semibold py-3">
              A blog site of toys : Toy Stop
            </h3>

            <p>
              The project is a demo toy shop where people can see details about
              various toys. It's similar to a multi-user blogging site, is
              highly responsive and proficient, has Crossbrowser support <br />
              <span class="font-semibold">Technology:</span> React, Tailwind,
              React, Firebase, Express js, MongoDB, Vercel
            </p>
            <div class="flex gap-3 flex-wrap">
              <a
                href="https://moonknightll.web.app/"
                class="bg-indigo-400 p-2 rounded text-white font-semibold"
                target="_blank"
                >Live Site</a
              >
              <a
                href="/contact"
                class="bg-indigo-400 p-2 rounded text-white font-semibold"
                >Github Frontend</a
              >
              <a
                href="/contact"
                class="bg-indigo-400 p-2 rounded text-white font-semibold"
                >Github backend</a
              >
            </div>
          </div>
          <div
            class="relative h-56 sm:h-60 lg:h-72 w-full flex items-center justify-center md:col-start-1 md:row-start-1"
          >
            <img
              src="./img/proj2.png"
              alt=""
              class="w-full md:w-full bg-gray-200 rounded absolute h-full object-left-top object-cover hover:object-left-bottom duration-1000"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- ===== FOOTER GOES DOWN HERE ====== -->
    <div class="svg2"></div>
    <footer class="relative bg-[#1F1F1F] pt-6 pb-12 text-white">
      <div
        class="w-4/6 mx-auto flex items-center justify-evenly flex-row flex-wrap gap-8 md:gap-0"
      >
        <div class="">
          <p class="text-2xl font-bold">Salman Hossain</p>
          <p class="caption-bottom py-2">Email: web.salman.pro@gmail.com</p>
          <button
            onclick="copy('web.salman.pro@gmail.com','copy-footer','Copy Email')"
            class="bg-white rounded text-black font-semibold active:scale-90 duration-100 p-2"
            id="copy-footer"
          >
            Copy Email
          </button>
        </div>
        <div class="flex justify-between items-center gap-12">
          <ul class="capitalize">
            <li class="font-semibold capitalize">Important links</li>
            <li><a href="/">home </a></li>
            <li><a href="/about">about </a></li>
            <li><a href="/contact">contact </a></li>
          </ul>
          <ul class="capitalize">
            <li class="font-semibold capitalize">social links</li>
            <li>
              <a
                href="https://web.facebook.com/profile.php?id=100047794972377"
                target="_blank"
                >Facebook
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/salman-hossain-929963214"
                target="_blank"
                >Linked IN</a
              >
            </li>
            <li>
              <a href="https://github.com/ocircleo" target="_blank">Github </a>
            </li>
            <li><a href="/sitemap">SiteMap </a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="./copy.js"></script>
  </body>
</html>
